@page
@model NorthwindWeb.Pages.CustomersModel
<div class="row">
    <h1 class="display-2">Customers</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr><th>Company Name</th></tr>
        </thead>
        <tbody>
            @foreach (string name in Model.Customers)
            {
                <tr>
                    <td>@name</td>
                </tr>
            }
        </tbody>
    </table>
</div>