@model Packt.Shared.Category
@{
    ViewData["Title"] = "Category Detail - " + Model.CategoryName;
}
<h2>Category Detail</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Category ID</dt>
        <dd>@Model.CategoryID</dd>
        <dt>Category Name</dt>
        <dd>@Model.CategoryName</dd>
        <dt>Category Description</dt>
        <dd>@Model.Description</dd>
    </dl>
</div>